html {
	color: #1A1A1A;
	background-color: white;
}

body {
	font-family: 'Roboto Slab', serif;
}

a {
	color: #FFA025;
	text-decoration: underline;
}

/* Custom button styles */
.pure-button {
	background-color: #2786C9;
	color: #84CCFF;
}
/* Custom button styles */

/* Font styles */
.pure-g [class *= "pure-u"] {
	font-family: 'Roboto Slab', serif;
}
/* Font styles */

/* pure-table styles */

.pure-table {
	border: 1px solid #5DBCFF;
	min-width: 50%;
}

.pure-table thead {
	color: white;
	background-color: #2786C9;
}

.pure-table tbody {
	background-color: #B2DFFF;
}

/* pure-table styles */


/* Custom random styles */
#header-content {
	background-color: #2786C9;
	color: White;
	padding:10px;
}

#main-content-container {
	font-family: 'Roboto Slab', serif;
	padding:10px;
}

.top-of-any-page {
	font-weight: bold;
	font-size: 16px;
}

.section-header {
	font-weight: bold;
	font-size:14px;
}

#list-container ul {
	margin:0;
	padding:10px;
	list-style-type: none;
	line-height: 35px;
	/*text-align: center;*/
}

#list-container ul li {
	border: 2px solid #FFA025;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline;
	margin-top: 10px;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
}

.not-fat {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.just-centered {
	margin-left: auto;
	margin-right: auto;
}

/* Custom random styles */

/* fa styles */
.trash-button {
	color: #FF4D4D;
	padding-left:7px;
}
/* fa styles */

/* app specific */
.app-color {
	color:#2786C9;
}

.app-title-color {
	color: #FFC67C;
}

.dash-nav {
	padding-left:10px;
	padding-right:10px;
}
#dash-paginator {
	background:inherit;
}
/* app specific */
