html {
	color: #1A1A1A;
	background-color: #D1D1D1;
}

body {
	font-family: 'Roboto Slab', serif;
}

a {
	color: #339933;
	text-decoration: underline;
}

/* Custom button styles */
.pure-button {
	color: #339933;
}
/* Custom button styles */

/* Font styles */
.pure-g [class *= "pure-u"] {
	font-family: 'Roboto Slab', serif;
}
/* Font styles */

/* pure-table styles */

.pure-table {
	border: 1px solid #339933;
}

.pure-table thead {
	color: white;
	background-color: #339933;
}

.pure-table tbody {
	background-color: white;
}

/* pure-table styles */


/* Custom random styles */
#header-content {
	background-color: #339933;
	color: White;
	padding:10px;
}

#main-content-container {
	font-family: 'Roboto Slab', serif;
	padding:10px;
}

.top-of-any-page {
	font-weight: bold;
	font-size: 16px;
}

.section-header {
	font-weight: bold;
	font-size:14px;
}

#list-container ul {
	margin:0;
	padding:10px;
	list-style-type: none;
	/*text-align: center;*/
}

#list-container ul li {
	background-color: #ADD6AD;
	display: inline;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
}

.not-fat {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.just-centered {
	margin-left: auto;
	margin-right: auto;
}

/* Custom random styles */

/* fa styles */
.trash-button {
	color: #333399;
	padding-left:7px;
}
/* fa styles */

/* app specific */
.app-color {
	color:#333399;
}

.dash-nav {
	padding-left:10px;
	padding-right:10px;
}
/* app specific */