{% extends "layout.html" %}
{% block content %}
<div>
	<div class="pure-g">
		<div class="pure-u-1 top-of-any-page">
			Name a new category to start tracking
		</div>
		<div class="pure-u-1-2">
			<form method="POST" action="{{ url_for('create_category_post') }}" class="pure-form pure-form-stacked">
				<fieldset>
					<input type="text" name="name" class="pure-input-1" placeholder="Category name">
					<button type="submit" class="pure-button button-primary"> Add </button>
					<a href="{{ url_for('dashboard') }}" class="pure-button button-primary">Cancel</a>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}
