{% extends "layout.html" %}
{% block content %}
<div class="pure-g">
	<div class="pure-u-1 top-of-any-page">
		<p>Dashboard : {{ current_user.email }}</p>
	</div>
	<div class="pure-u-1">
		<p class="section-header">Monthly Totals for <span style="color:red;">{{ month_name }}</span></p>
		<table class="pure-table">
			<thead>
				<tr>
					<th>Category</th><th>Total</th>
				</tr>
			</thead>
			<tbody>
				{% for c in totals %}
					<tr>
						<td>{{ c }}</td><td>{% if totals[c] %} $ {{ totals[c] }} {% else %} $ 0.00 {% endif %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="pure-u-1">
		<p class="section-header">Transactions</p>
		<table class="pure-table">
			<thead>
				<tr>
					<th>Date</th><th>Description</th><th>Category</th><th>Amount</th>
				</tr>
			</thead>
			<tbody>
				{% for t in transactions %}
				<tr>
					<td>{{ t.trans_date }}</td><td>{{ t.desc }}</td><td>{{ t.expense.name }}</td><td>$ {{ t.amount }}</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="3">No transactions added yet</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ url_for('add_transaction') }}" class="pure-button">add</a>
	</div>
	<div class="pure-u-1">
		<p class="section-header">Things you spend on</p>
		<div id="list-container">
			<ul>
				{% for expense in expensetypes %}
					<li> <span style="color:red;">{{ expense.name }}</span></li>
				{% else %}
					You don't spend money on anything! Congrats!
				{% endfor %}
			</ul>
		</div>
		<a href="{{ url_for('create_expense_type') }}" class="pure-button">add</a>
	</div>
</div>
{% endblock %}