{% extends "layout.html" %}
{% block content %}
<div class="pure-g">
	<div id="charts-container" class="pure-u-1-2">
		<p class="section-header">Monthly spending at a glance</p>
		<span><i class="fa fa-pie-chart"></i> Charts </span>
		<button id="radial-chart-btn" class="pure-button button-primary">Radial</button>
		<button id="bar-chart-btn" class="pure-button button-primary">Bar</button>
		<canvas id="dash-chart" width="600" height="400"></canvas>
	</div>
	<div class="pure-u-1">
		<p class="section-header">Transactions</p>
		<table class="pure-table">
			<thead>
				<tr>
					<th>Date</th><th>Description</th><th>Category</th><th>Amount</th><th></th>
				</tr>
			</thead>
			<tbody>
				{% for t in transactions.items %}
				<tr data-row-num="{{t.id}}">
					<td>{{ t.trans_date }}</td><td>{{ t.desc }}</td><td>  {% if t.expense %}{{ t.expense.name }} {% else %}
						<form method="POST" action="{{ url_for('update_trans_exp', trans_id=t.id) }}">
							<select name="expense_id">
								{% for expense in expensetypes %}
									<option value="{{ expense.id }}" > {{ expense.name }} </option>
								{% endfor %}
							</select>
							<button type="submit">Ok</button>
						</form>
					{% endif %}</td><td>$ {{ t.amount }}</td><td><a class="trash-button trash_{{t.id}}" onclick="delete_transaction({{t.id}})"><i class="fa fa-trash"></i></a></td>
				</tr>
				{% else %}
				<tr>
					<td colspan="5">No transactions added yet</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="pure-menu pure-menu-open pure-menu-horizontal" id="dash-paginator">
			<a href="#" class="pure-menu-heading">Navigate</a>
			<ul>
				{% if transactions.has_prev %}
					<li><a href="{{ url_for('dashboard', page=transactions.prev_num) }}">newer </a></li>
				{% else %}
					<li class="pure-menu-disabled"><a href="#"> newer </a></li>
				{% endif %}
				{% if transactions.has_next %}
					<li><a href="{{ url_for('dashboard', page=transactions.next_num) }}"> older </a></li>
				{% else %}
				<li class="pure-menu-disabled"><a href="#"> older </a></li>
				{% endif %}
			</ul>
		</div>
		<a href="{{ url_for('add_transaction') }}" class="pure-button">add</a>
	</div>
	<div class="pure-u-1">
		<p class="section-header">Things you spend on</p>
		<div id="list-container">
			<ul>
				{% for expense in expensetypes %}
					<li><span style="color:black;">{{ expense.name }}</span><a class="trash-button" href="{{ url_for('delete_expense_type', expense_type_id=expense.id) }}"><i class="fa fa-trash"></i></a></li>
				{% else %}
					You don't spend money on anything! Congrats!
				{% endfor %}
			</ul>
		</div>
		<a href="{{ url_for('create_expense_type') }}" class="pure-button">add</a>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		// Handle dash charts
		var ctx = document.getElementById("dash-chart").getContext("2d");

		var resetCanvas = function()  {
			$("#dash-chart").remove();
			$("#charts-container").append('<canvas id="dash-chart" width="600" height="400"><canvas>"');
			ctx = document.getElementById("dash-chart").getContext("2d");
		}

		function displayRadialChart() {
			resetCanvas();
			$.getJSON("../api/v1/charts/radial/totals/month", function(data){
				var dashChart = new Chart(ctx).PolarArea(data);
			});
		}

		function displayBarChart() {
			resetCanvas();
			$.getJSON("../api/v1/charts/bar/totals/month", function(data){
				var dashChart = new Chart(ctx).Bar(data);
			});
		} displayBarChart();

		$("#radial-chart-btn").click(displayRadialChart);
		$("#bar-chart-btn").click(displayBarChart);
	});

	function delete_transaction(current_id){
		if(document.old_data === undefined)
			document.old_data = {};
		document.old_data ["row_"+current_id] = $('.trash_'+current_id).closest('tr').html();
		$('.trash_'+current_id).closest('tr').html('<td></td><td id="delete_'+current_id+'">Are you sure?</td><td><a href="/transactions/'+current_id+'/delete"><button formaction="/transactions/'+current_id+'/delete" data-transaction-id="'+current_id+'">Yes</button></a></td><td><button data-transaction-id="'+current_id+'" onclick="negate_deletion('+current_id+')">No</button></td><td></td>')
	};

	function negate_deletion(current_id){
		$current_cell = $('#delete_'+current_id).closest('tr').html(document.old_data["row_"+current_id]);
	}
</script>
{% endblock %}
