{% extends "layout.html" %}
{% block content %}
<div>
	<div class="pure-g">
		<div class="pure-u-1 top-of-any-page">
			Registering? We just need your email and a password.
		</div>
		<div class="pure-u-1">
			<form method="POST" action="{{ url_for('register_user_post') }}" class="pure-form pure-form-stacked">
				<fieldset>
					<input type="email" name="email" class="pure-input-1" placeholder="email address">
					<input type="password" name="password" class="pure-input-1" placeholder="password">
					<button type="submit" class="pure-button button-primary pure-input-1">Register</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}